@page
@model Prova27_10.Pages.Professor.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.CTPS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.CTPS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.dtNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.dtNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Endereço)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Endereço)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Senha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Curso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Curso)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Professor.ID">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
